{% extends './dashboard.html' %}
{% load static %}

{% block state_terms %}
actived
{% endblock state_terms %}

{% block title %}
Inicio | AI CRYPT
{% endblock title %}


{% block content %}
<div class=" row d-flex flex-column mt-2">
    <div id="" class="bg-terms col-12 p-2">
        <div class="ratio ratio-16x9">


            <embed src="{% static 'MANUAL DE USUSARIO.pdf' %}">
        </div>









    </div>
</div>

<!-- <div class=" row d-flex flex-row mt-4 d-flex justify-content-between ">
    <div class="col-12 col-md-4  p-0 pe-md-2 mb-4 mb-md-0">
        <div class="bg-cards widget-analysis  ">
            manual de uso
        </div>
    </div>
</div> -->

<!-- about btc widgte-->

{% endblock content %}


{% block moreScripts_2 %}

{% endblock moreScripts_2 %}