{%load static%}
{% load tz_detect %}
<!DOCTYPE html>
<html lang="es" class="theme-light">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Brandon's Baseball Cards provides a large selection of vintage and modern baseball cards for sale. 
    We also offer daily baseball news and events.">
  
    <!--icono  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png'%}" />
    <link rel="icon" type="image/png" sizes="512x512" href=" {% static 'img/favicon/android-chrome-512x512.png' %} " />
    <link rel="icon" type="image/png" sizes="192x192" href=" {% static 'img/favicon/android-chrome-192x192.png' %} " />
    <link rel="icon" type="image/png" sizes="32x32" href=" {% static 'img/favicon/favicon-32x32.png' %} " />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}" />


    <!-- estilos -->
    <!-- ESTILOS BOOSTRAP -->
    <link rel="stylesheet" href="{% static 'styles/bts_5.0.2/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <!-- iconos -->

    <!--  HMTX -->
    <!-- <script src="https://unpkg.com/htmx.org@1.6.1"></script> -->
    <script src="{% static 'js/htmx-master/dist/htmx.min.js' %}" defer></script>
    

    {% block styles %}

    {% endblock styles %}

    <!-- <link rel="stylesheet" href="styles/styles.css" /> -->

    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <!-- Prediccion de la tendencia y el precio de criptomonedas | AI CRIPT -->
</head>

<body>
    {% block body %}

    {% endblock body %}

    <a type="text/javascript" src="{% static 'styles/bts_5.0.2/js/bootstrap.min.js' %}" rel="stylesheet"></a>
    <script type="module" src="{% static 'styles/bts_5.0.2/js/bootstrap.bundle.min.js' %}"></script>
    
    {% block moreScripts %}

    {% endblock moreScripts %}
</body>

</html>